<h1>Habilidades</h1>
<div class="newSkill">
    <button type="button" class="btn btn-primary" routerLink="/nuevaHabilidad" *ngIf="isLogged">Agregar Habilidad</button>
</div>
<div class="row">
    
    <div class="card-container">
        
        <ul>
            <li *ngFor="let skill of skills">

                <div class="col-sm-4 col-md-4 col-lg-4 card">

                    <circle-progress class="circle"
                    [title]="skill.nombre"
                    [showUnits]="false"
                    [titleColor]="'red'"
                    [titleFontSize]="'2em'"
                    [showSubtitle]="false"
                    [imageSrc]="skill.url_img"
                    [showImage]="true"
                    [imageHeight]="80"
                    [imageWidth]="70"
                    [percent]="skill.porcentaje"
                    [radius]="70"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="5"
                    [outerStrokeColor]="skill.colorPorcentaje"
                    [innerStrokeColor]="skill.colorCirculo"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <div class="contenido">
                        <h3>{{skill.nombre}}</h3>
                        <p>Tiempo: {{skill.meses}} meses</p>
                    </div>

                </div>
                <div class="opciones" *ngIf="isLogged">
                    <button class="btn btn-warning btnEdit" routerLink="/editarHabilidad/{{skill.id}}">
                        <i class="bi bi-pencil"></i> Editar
                    </button>
                    <button class="btn btn-danger" (click)="borrarSkill(skill.id)">
                        <i class="bi bi-trash"></i> Eliminar
                    </button>
                </div>

            </li>
        </ul>

    </div>
</div>

