<h1>Habilidades</h1>
<div class="row">
    
    <div class="card-container">
        <div class="col-sm-4 col-md-4 col-lg-4 card">
            <circle-progress class="circle"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [imageSrc]="'../assets/img/html.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="70"
            [percent]="50"
            [radius]="70"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'orange'"
            [innerStrokeColor]="'#FAD265'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        <div class="contenido">
            <h3>HTML</h3>
            <p>Tiempo: 3 meses</p>
        </div>
        
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 card">
            <circle-progress class="circle"
            [title]="'CSS'"
            [showUnits]="false"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [imageSrc]="'../assets/img/css.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="70"
            [percent]="30"
            [radius]="70"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'lightblue'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 card">
            <circle-progress class="circle"
            [title]="'JS'"
            [showUnits]="false"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [imageSrc]="'../assets/img/js.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [percent]="30"
            [radius]="70"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'YELLOW'"
            [innerStrokeColor]="'#FFF99B'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 card">
            <circle-progress class="circle"
            [title]="'C'"
            [showUnits]="false"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [imageSrc]="'../assets/img/c.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="80"
            [percent]="70"
            [radius]="70"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'gray'"
            [innerStrokeColor]="'#C4C4C4'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 card">
            <circle-progress class="circle"
            [title]="'JAVA'"
            [showUnits]="false"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [imageSrc]="'../assets/img/java.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="60"
            [percent]="80"
            [radius]="70"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'red'"
            [innerStrokeColor]="'pink'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 card">
            <circle-progress class="circle"
            [title]="'PYTHON'"
            [showUnits]="false"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [imageSrc]="'../assets/img/py.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="70"
            [percent]="50"
            [radius]="70"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
    </div>
</div>
