.row{
    background-color: #252525;
}
footer{
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

a{
    color: #E3C567;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover{
    font-weight: bold;
    color: orange;
    transition: all 0.2s ease-in-out;
}

::selection{
    background-color: rgba(255, 255, 255, 0.0);
    color: orange;
}