<div class="row">
    <div class="container">
        <div class="logoAP">
            <img src="../../../assets/img/APLogo.png" alt="" id="logoAP">
        </div>
        <div class="nav">
            <ul class="nav-list">
                <li><a href="#educacion">Educacion</a></li>
                <li><a href="#experiencia">Experiencia laboral</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#footer">Contacto</a></li>
            </ul>
        </div>
        <div class="redes">
            <a href="" class="icon"><img src="../../../assets/img/linkedin.png" alt=""></a>
            <a href="" class="icon"><img src="../../../assets/img/twitter.png" alt=""></a>
            <a href="" class="icon"><img src="../../../assets/img/instagram.png" alt=""></a>
            <a href="https://facebook.com/dificil.deencontrar.14" class="icon"><img src="../../../assets/img/facebook.png" alt=""></a>
            <a href="" class="icon"><img src="../../../assets/img/github.png" alt=""></a>
           
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Session</button>
        </div>
    </div>
</div>